.dialog-select-character-header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-bottom: 1px solid #3f3f3f;
}


.dialog-select-character-content {
    width: 900px;

}

.dialog-select-character-actions {
    display: flex;
    justify-content: end;
}
